@import "../../../assets/scss/variables.scss";

.stake_main_container {
  .stake_container {
    .stake_position_main_container {
      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
      .stake_position_container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .box_1 {
          padding: 1.5rem 2rem;
          width: 100%;
          .box_1_title_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            .title {
              color: #fff;
              font-family: "Montserrat", "sans-serif";
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .id {
              color: #8c89b4;
              text-align: right;
              font-family: "Montserrat", "sans-serif";
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              span {
                color: #fff;
                text-align: right;
                font-family: "Montserrat", "sans-serif";
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
              }
            }
          }
          .data_container {
            display: flex;
            align-items: center;
            .data_1,
            .data_2 {
              flex-basis: 50%;
              .text {
                color: #8c89b4;
                font-family: "Montserrat", "sans-serif";
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              .value {
                color: #fff;
                font-family: "Montserrat", "sans-serif";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
              }
            }
            .data_2 {
            }
            margin-bottom: 2rem;
          }
          .btn_container {
            .ant-btn {
              padding: 0.625rem 3.5rem;
              line-height: normal;
              height: auto;
            }
          }
        }
        .box_2 {
          padding: 1.5rem 2rem;
          width: 100%;
          .box_1_title_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            .title {
              color: #fff;
              font-family: "Montserrat", "sans-serif";
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .id {
              color: #8c89b4;
              text-align: right;
              font-family: "Montserrat", "sans-serif";
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              span {
                color: #fff;
                text-align: right;
                font-family: "Montserrat", "sans-serif";
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
              }
            }
          }
          .data_container {
            display: flex;
            align-items: center;
            .data_1,
            .data_2 {
              flex-basis: 50%;
              .text {
                color: #8c89b4;
                font-family: "Montserrat", "sans-serif";
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              .value {
                color: #fff;
                font-family: "Montserrat", "sans-serif";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
              }
            }
            .data_2 {
            }
            margin-bottom: 2rem;
          }
          .btn_container {
            .ant-btn {
              padding: 0.625rem 3.5rem;
              line-height: normal;
              height: auto;
            }
          }
        }
      }
    }
    .stake_harbor_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3rem;
      .text {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
      }
      .button {
      }
    }
    .stake_harbor_table_container {
    }
  }
}
.stake_modal {
  .ant-modal-content {
    padding: 2.2rem 2rem;
  }
  .ant-modal-header {
    .ant-modal-title {
      color: #fff;
      font-family: "Montserrat", "sans-serif";
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 700;
    }
  }
  .ant-modal-body {
    .stake_modal_main_container {
      .stake_modal_container {
        .max_amount_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          .amount {
            color: #aeabd8;
            font-family: "Montserrat", "sans-serif";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
          }
          .max_container {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            .btn_container {
            }
            .value {
              color: #aeabd8;
              text-align: right;
              font-family: "Montserrat", "sans-serif";
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 700;
            }
          }
        }

        .input_container {
          .stake_input_box {
            padding: 15px;
            line-height: 22px;
            // margin: 0 10px;
            border-radius: 0.3125rem;
            border: 1px solid #353570;
            background: #1d1d41;
            color: #eeedff;
            font-family: "Montserrat", "sans-serif";
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            &:hover {
              border-color: transparent;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              margin: 0;
              display: none;
            }
          }
        }

        .expires_container {
          margin: 1.5rem 0;
          .title {
            color: #aeabd8;
            font-family: "Montserrat", "sans-serif";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
          }
          .input_select_radio {
            margin: 0.5rem 0;
            .ant-radio-inner {
              height: 1.5rem;
              width: 1.5rem;
              position: relative;
              border-color: white;
              // background-color: #6359e9;
              background-color: #fff;
              &::after {
                width: 26px;
                height: 26px;
                margin-top: -13px;
                margin-left: -13px;
                background-color: #6359e9;
              }
            }
            .ant-radio-checked .ant-radio-inner::after {
              transform: scale(0.575);
            }
            .ant-radio-wrapper {
              font-size: 1.2rem;
              font-weight: 500;
              align-items: flex-start;
              .dark-mode & {
                color: white;
              }
            }
          }
          .paragraph_container {
            color: #fdfcdc;
            font-family: "Montserrat", "sans-serif";
            font-size: 0.625rem;
            font-style: normal;
            font-weight: 300;
          }
        }

        .unlock_data_container {
          margin-bottom: 1.5rem;
          .title {
            color: #aeabd8;
            font-family: "Montserrat", "sans-serif";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 3px;
          }
          .value {
            color: #eeedff;
            font-family: "Montserrat", "sans-serif";
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
          }
        }

        .voting_power_container {
          margin-bottom: 1.5rem;
          .title {
            color: #aeabd8;
            font-family: "Montserrat", "sans-serif";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 3px;
          }
          .value {
            color: #eeedff;
            font-family: "Montserrat", "sans-serif";
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
          }
        }

        .btn_container_stake {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
