@import "../../../assets/scss/style.scss";

.earn-deposite-card {
  padding: 40px 25px 35px 25px;
  border-radius: $base-border-radius;
  background: $background-light;
  box-shadow: $box-shadow-inner-light;
  .dark-mode & {
    background-color: $secondary-color-light;
    box-shadow: none;
  }
  .input-select {
    small {
      .dark-mode & {
        color: #fff;
      }
    }
  }
  .intrest-rate-container {
    padding: 0 25px;
    .row {
      justify-content: space-between;
      .dark-mode & {
        color: white;
      }
      .title {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 12px;
      }
      .value {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}
