@import "../../../assets/scss/style.scss";

.earn-deposite-card {
  padding: 40px 25px 35px 25px;
  border-radius: $base-border-radius;
  background: $background-light;
  box-shadow: $box-shadow-inner-light;
  .dark-mode & {
    background-color: $secondary-color-light;
    box-shadow: none;
  }
  .input-select {
    small {
      .dark-mode & {
        color: #fff;
      }
    }
  }
  .Interest-rate-container {
    padding: 0 25px;
    .row {
      justify-content: space-between;
      .dark-mode & {
        color: white;
      }
      .title {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 12px;
      }
      .value {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  .svg-icon-inner {
    span {
      margin-left: 10px;
    }
  }
}
.calculator-main-container {
  margin-top: 55px;
  padding: 10px 25px 25px 25px !important;
  border: 0.5px solid $border-color-base;

  .calculator-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.9rem;
    .content-container {
      display: flex;
      justify-content: space-between;
      row-gap: 2rem;
      align-items: center;
      .left-container {
        font-size: 14px;
        font-weight: 600;
      }
      .right-container {
        font-size: 14px;
        font-weight: 600;
        .input-container {
          display: flex;
          column-gap: 10px;
          .year-container {
            position: relative;
            &::before {
              content: "Years";
              display: block;
              top: -30%;
              left: 0;
              position: absolute;
              font-size: 10px;
              font-weight: 300;
            }
          }
          .month-container {
            position: relative;
            &::before {
              content: "Months";
              display: block;
              top: -30%;
              left: 0;
              position: absolute;
              font-size: 10px;
              font-weight: 300;
            }
          }
          .day-container {
            position: relative;
            &::before {
              content: "Days";
              display: block;
              top: -30%;
              left: 0;
              position: absolute;
              font-size: 10px;
              font-weight: 300;
            }
          }
          .ant-input {
            border: 0;
            font-size: 1.3rem;
            line-height: 1;
            margin-top: 8px;
            text-align: right;
            max-width: 200px;
            margin-bottom: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: $text-color-dark2;
            padding-right: 0;
            max-width: 100px;
            background: $background-dark1;

            &::-webkit-placeholder {
              color: $text-color-dark2;
            }

            &::placeholder {
              color: $text-color-dark2;
            }

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            &[type="number"] {
              -moz-appearance: textfield;
            }

            .dark-mode & {
              color: $white;
              background-color: $background-dark2;

              &::-webkit-placeholder {
                color: $white;
              }

              &::placeholder {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
