@import "../../../../assets/scss/style.scss";
.vault-mint-card {
  .mint-title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
    .dark-mode & {
      color: #fff;
    }
  }
}
.earn-deposite-card {
  .card-head {
    .head-left {
      font-weight: 600;
      font-size: 15px;
      .dark-mode & {
        color: #fff;
      }
    }
    .liquidation-price-container {
      display: flex;
      align-items: center;
      .svg-icon-inner {
        .icon {
          height: 30px;
          width: 30px;
        }
      }
      .das {
        font-weight: 800;
        height: 2px;
        width: 10px;
        margin-right: 3px;
        background: #000;
        .dark-mode & {
          background: white;
        }
      }
      .title {
        font-weight: 400;
        font-size: 16px;
        margin-top: -8px;
        .dark-mode & {
          color: white;
        }
      }
      .price {
        font-weight: 600;
        margin-left: 5px;
        margin-top: -8px;
        font-size: 20px;
        .dark-mode & {
          color: white;
        }
      }
    }
    .oracle-price-container {
      margin-top: -10px;
      .title {
        font-weight: 400;
        font-size: 16px;

        .dark-mode & {
          color: white;
        }
      }
      .price {
        font-weight: 600;
        font-size: 20px;
        .dark-mode & {
          color: white;
        }
      }
    }
  }
  .ant-row {
    @media only screen and (max-width: 980px) {
      gap: 10px;
      justify-content: space-between;
      padding-right: 10px;
    }
  }
  .card-assets-container {
    display: flex;
    flex-direction: column;
    .assets-row {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      .asset-name {
        font-weight: 500;
        .dark-mode & {
          color: #fff;
        }
      }
      .asset-value {
        font-weight: 500;
        .dark-mode & {
          color: #fff;
        }
      }
    }
  }
}
.red-track {
  .ant-slider-track {
    background: $error-color !important;
  }
  .ant-slider-handle {
    border-color: $error-color !important;
  }
}
.orange-track {
  .ant-slider-track {
    background: orange !important;
  }
  .ant-slider-handle {
    border-color: orange !important;
  }
}
.green-track {
  .ant-slider-track {
    background: $secondary-color !important;
  }
  .ant-slider-handle {
    border-color: $secondary-color !important;
  }
}
