@import "../../../assets/scss/style.scss";
.totol-voting-main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  .total-voting-power-tooltip-box {
    align-items: center;
    @media only screen and (max-width: 400px) {
      width: 100%;
    }
  }
  .total-voting-container {
    border: 2px solid rgba($color: $secondary-color, $alpha: 0.5);
    width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    margin-right: 0.5rem;
    .dark-mode & {
      border: 2px solid rgba($color: $secondary-color, $alpha: 0.3);
    }
    .total-veHARBOR {
      font-size: 0.9rem;
      letter-spacing: 0.7px;
      font-weight: 400;
      .dark-mode & {
        color: white;
      }
      .fill-box {
        font-weight: 600;
        font-size: 1rem;
        .dark-mode & {
        }
      }
    }
  }
}
.vote-text-main-container {
  .vote-text-container {
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
    .dark-mode & {
      background: #211d34;
      border: 1px solid #303950;
      box-shadow: none;
    }
  }
}

.emission-card {
  padding: 20px 20px 10px 20px !important;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgb(174 174 192 / 40%),
    -8px -8px 12px rgb(174 174 192 / 25%);
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .dark-mode & {
    box-shadow: none;
    background-color: #211d33 !important;
  }
  .card-header {
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    .left {
    }
    .right {
      font-size: 0.8rem;
      padding: 5px 15px;
      border-radius: 15px;
      font-weight: 300;
      border: 1px solid rgba($secondary-color, 0.5);
      .dark-mode & {
        border-color: $secondary-color;
      }
    }
  }
  .ant-list {
    .ant-spin-nested-loading {
      .ant-spin-container {
        .ant-row {
          .ant-col {
            .ant-list-item {
              border-left: 4px solid $secondary-color;
              padding-left: 12px;
              padding-right: 20px;
              .emission-card-p {
                .dark-mode & {
                  color: white;
                }
              }
              .emission-card-h3 {
                .dark-mode & {
                  color: white;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }

  .graph-container {
    .top {
      .card-header {
        .left {
        }
        .right {
          padding: 3px 15px;
          font-size: 0.7rem;
          cursor: pointer;
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      .bottom-left {
        width: 100%;
        flex-basis: 35%;
        .graph-container {
        }
      }
      .bottom-right {
        width: 100%;
        flex-basis: 65%;
        overflow-y: auto;
        max-height: 400px;
        .asset-container {
          .composite-card {
            .card-content {
              .vote-up-data-table-container {
                .ant-table {
                  background: none;

                  .ant-table-content {
                    table {
                      border-collapse: separate;
                      border-spacing: 0 1px;

                      .ant-table-thead {
                        tr {
                          th {
                            background: none;
                            font-weight: 300;
                            border: 0;
                            padding: 0px 15px 0 15px;
                            font-size: $font-size-sm;
                            font-weight: 600;
                            color: $dark-color;
                            text-align: center;
                            .dark-mode & {
                              color: $text-color-white;
                            }
                            &::before {
                              position: absolute;
                              top: 50%;
                              inset-inline-end: 0;
                              width: 1px;
                              height: 0em;
                              background-color: #f0f0f0;
                              transform: translateY(-50%);
                              transition: background-color 0.2s;
                              content: "";
                            }
                          }
                          td {
                            background: transparent;
                            border: none;
                          }
                          th:nth-child(1) {
                            text-align: left !important;
                          }
                          th:nth-child(2) {
                            text-align: left !important;
                          }
                          th:last-child {
                            text-align: right !important;
                          }
                          td {
                            background: transparent;
                            border: none;
                          }
                        }
                      }

                      .ant-table-tbody {
                        .ant-table-placeholder {
                          .ant-empty {
                            .dark-mode & {
                              color: $text-color-light;
                            }
                          }
                        }
                        tr {
                          border-radius: 15px;
                          border: 0.5px solid $border-color-base;

                          td {
                            .ant-btn-sm {
                              padding: 0 22px;
                            }
                            color: $text-color-light2;
                            border-top: 1px solid;
                            border-bottom: 1px solid;
                            border: 1.5px solid $border-color-base;
                            border-left: 0;
                            border-right: 0;
                            padding: 0px 5px;
                            font-size: $font-size-lg - 1;
                            line-height: 1;
                            border-color: transparent;
                            background: none;
                            text-align: center;
                            font-size: 0.65rem;
                            font-weight: 500;
                            &:last-child {
                              text-align: right !important;
                            }
                            &:first-child {
                              border-radius: 15px 0 0 15px;
                              text-align: start;
                              .dark-mode & {
                                // border-left: 1px solid $border-dark;
                              }
                            }

                            &:last-child {
                              border-radius: 0 15px 15px 0;
                              text-align: end;
                              .dark-mode & {
                                // border-right: 1px solid $border-dark;
                              }
                            }

                            .dark-mode & {
                              color: $white;
                              // border-color: $border-dark;
                            }
                            a {
                              color: $text-color-light2;
                              .dark-mode & {
                                color: white;
                              }
                            }

                            .assets-withicon {
                              .assets-icon {
                                height: 24px;
                              }
                            }
                          }

                          p {
                            margin-bottom: 0;
                            line-height: 1;
                            font-size: $font-size-base + 3;
                          }

                          small {
                            font-size: $font-size-sm;
                            line-height: 1;

                            .dark-mode & {
                              color: $text-color-light;
                            }
                          }

                          &:nth-child(odd) {
                            // box-shadow: $box-shadow-inner-light;
                            background: transparent !important;
                            box-shadow: none;
                            border-color: transparent;
                            .dark-mode & {
                              // background: $background-dark1;
                              box-shadow: none;
                            }
                            &:hover {
                              // box-shadow: $box-shadow-inner-light;
                              // background: rgba($secondary-color, 0.3);
                              .dark-mode & {
                                // background: rgba($secondary-color, 0.6);
                                box-shadow: none;
                              }
                            }
                          }

                          &:nth-child(even) {
                            // box-shadow: $box-shadow-inner-light;
                            background: transparent !important;
                            box-shadow: none;
                            border-color: transparent;
                            .dark-mode & {
                              // background: $background-dark1;
                            }
                            &:hover {
                              // box-shadow: $box-shadow-inner-light-hover;
                              // background: rgba($secondary-color, 0.3);

                              .dark-mode & {
                                // background: rgba($secondary-color, 0.6);
                                box-shadow: none;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .asset_color {
            height: 15px;
            width: 15px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
.emission-modal-container {
  .emission-card {
    padding: 10px 0px !important;
    border: none;
  }
  .rewards-title {
    font-size: 1rem;
  }
}

.bribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .dark-mode & {
    color: white;
  }
  .ant-btn {
    margin-left: 7px !important;
    height: 23px;
    line-height: 0;
    padding: 11px 11px;
    font-size: 0.8rem;
    .dark-mode & {
      border-color: white;
    }
  }
}

.viewAll-btn-modal {
  &.ant-modal {
    .ant-modal-close {
      top: 12px;
      right: 12px;
      position: absolute;

      .ant-modal-close-x {
        width: 26px;
        height: 26px;
        line-height: 26px;
        .dark-mode & {
          color: white;
        }
      }

      .icon {
        fill: $secondary-color;
        width: 12px;
      }
    }

    .ant-modal-header {
      background: none;
      border: 0;

      .ant-modal-title {
        font-size: 1.3rem;
        font-weight: 600;

        .dark-mode & {
          color: $white;
        }
      }
    }

    .ant-modal-content {
      border-radius: 15px;
      padding: 15px;
      background: $background-light;
      box-shadow: none;
      .dark-mode & {
        background: $background-dark1;
        border: 2px solid $border-dark;
        box-shadow: none;
      }

      .modal-btn {
        height: 38px;
        line-height: 38px;
        padding: 0 55px;
      }
      .ant-modal-body {
        .bribe-container {
          justify-content: flex-start;
        }
      }
    }
  }
}

.valut-emission-up-table {
  .ant-spin-container {
    .ant-table {
      .ant-table-container {
        .ant-table-content {
          .ant-table-thead {
            tr {
              display: none;
            }
          }
        }
      }
    }
  }
}

.totalvalues-chart {
  width: 50%;
  text-align: left;
  .totalvalue-chart {
    .highcharts-empty-series {
      fill: #c0c0c0;
    }
  }
}

.totalvalue-chart {
  .highcharts-empty-series {
    fill: #c0c0c0;
  }
}
