@import "././../../assets/scss/style.scss";

.stable-mint-upper-title {
  display: flex;
  justify-content: space-between;
  .user-balance {
    border: 1px solid $secondary-color;
    border-radius: 15px;
    height: max-content;
    padding: 2px 7px;
    .dark-mode & {
      border: 1px solid white;
    }
    span {
      font-weight: 500;
    }
  }
}
