@import "../assets/scss/style.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// component

@import "./components/common/CautionNotice/CautionNotice.module.scss";
@import "./components/common/NoDataIcon/NoDataicon.module.scss";
@import "./components/Copy/Copy.module.scss";

// Container
@import "./containers/NavigationBar/NavigationBar.module.scss";
@import "./containers/SideBar/SideBar.module.scss";
@import "./containers/Footer/Footer.module.scss";
@import "./containers/Modal/Modal.module.scss";
@import "./containers/Dashboard/dashboard.module.scss";
@import "./containers/Dashboard/TVLModal/tvl.module.scss";
@import "./containers/Assets/assets.module.scss";
@import "./containers/MyPositions/MyPositions.module.scss";
@import "./containers/Locker/locker.module.scss";
@import "./containers/Govern/Govern.module.scss";
@import "./containers/stake/stake.module.scss";
@import "./containers/Rewards/Rewards.module.scss";
@import "./containers/Emissions/Emissions.module.scss";
@import "./containers/Auctions/Auctions.module.scss";
@import "./containers/Mint/mint.module.scss";
